/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.title{
    text-align: left;
}

.my-card-content {
    margin-left: 10%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;
    height: 450px;
    overflow-y:hidden;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 20px;
    
}

.design-card {
    padding: 10px;
    margin: 15px;
    justify-content: center;
    border-radius: 15px;
}


.card-body {
    color: white;
}

.characters{
    align-self: center;
    width: 330px;
    height: 220px;
}

.my-img {
    width: 50%;
    display: block;
    margin-left: 35%;
    margin-right: auto;
    border-radius: 20px;

}

.btn-outline { 
    color: white;
    background-color: #fa9f42; 
    border-color: #fa9f42; 
  } 



.infocards {
    transition: all 0.25s;
    text-align: center;
    border-color: #fa9f42;
    
}

.infocards:hover{
    transform: translateY(-15px); 
    
}

