/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.title{
    text-align: left;
}

.my-card-content {
    margin-left: 10%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;
    height: 450px;
    overflow-y:hidden;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 20px;
    
}


.my-card-content::-webkit-scrollbar{
    width: 10px;
}
.my-card-content::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
.my-card-content::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #2b4162);
    border-radius: 5px;
}
.my-card-content::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #fa9f42 );
}

.design-card {
    padding: 10px;
    margin: 15px;
    justify-content: center;
    border-radius: 15px;
}


.card-body {
    color: white;
}

.characters{
    align-self: center;
    width: 330px;
    height: 220px;
}

.my-img {
    width: 50%;
    display: block;
    margin-left: 35%;
    margin-right: auto;
    border-radius: 20px;

}

.btn-outline { 
    color: white;
    background-color: #fa9f42; 
    border-color: #fa9f42; 
  } 



.infocards {
    transition: all 0.25s;
    text-align: center;
    border-color: #fa9f42;
    
}

.infocards:hover{
    transform: translateY(-15px); 
    
}

.spoiler-img {
    filter: blur(5px) saturate(800%) sepia(100%); 
}

.spoiler-text {
    transform: scale(-1, 1);
  
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.centered-spoiler {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container-spoiler {
    position: relative;
    text-align: center;
    color: white;
  }



  
  
